.Todo-Items-description {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}
.Todo-Items-description h6{
    margin-left: 20px;
}
.Todo-Items li {
  text-decoration: none;
  list-style: none;
  text-align: center;
}
.Card {
  cursor: pointer;
  margin-top: 60px;
  margin-left: 20%;
  margin-right: 20%;
  border-radius:5px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}
.Todo-icons i {
   margin-left: 10px;
   margin-right: 10px;
}

.complete{
    text-decoration: line-through;
}
